<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout.html}"
>
    <head>
        <title>Autores</title>
    </head>

    <section layout:fragment="content">
        <div th:each="user : ${users}" class="card my-4 col-md-10 offset-md-1">
            <div class="row g-0">
                <div th:text="${user.name}" class="card-header"></div>
                <div class="col-md-4 text-center p-3">
                    <img
                        th:src="'https://i.pravatar.cc/200?u=' + ${user.email}"
                        class="img-fluid rounded-circle avatar"
                        alt="avatar"
                    />
                </div>
                <div class="col-md-8 p-2">
                    <table
                        class="table table-borderless p-2"
                        style="font-size: 0.95rem"
                    >
                        <tbody>
                            <tr class="border-bottom">
                                <td>Bio:</td>
                                <td th:text="${user.bio}"></td>
                            </tr>
                            <tr class="border-bottom">
                                <td class="text-nowrap">Fecha de alta:</td>
                                <td
                                    th:text="${#temporals.format(user.createdAt, 'dd-MM-yyyy')}"
                                ></td>
                            </tr>
                            <tr class="border-bottom">
                                <td>Email:</td>
                                <td th:text="${user.email}"></td>
                            </tr>
                            <tr>
                                <td>Actividad:</td>
                                <td>0 artículos y 0 comentarios</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</html>
