<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorate="~{layout/layout.html}"
>
    <head>
        <title th:text="${post.title}"></title>
    </head>

    <article layout:fragment="content" class="col-md-10 offset-md-1 mb-5">
        <h1 th:text="${post.title}" class="display-6 mt-4"></h1>
        <p class="text-secondary text-opacity-75">
            <span th:text="${post.author.name} + ' | '"></span>
            <span
                th:text="${#temporals.format(post.createdAt, 'dd-MM-yyyy')}"
            ></span>
        </p>

        <div th:utext="${post.content}"></div>

        <!-- Comentarios -->
        <div
            sec:authorize="!isAuthenticated()"
            class="alert alert-secondary"
            role="alert"
        >
            Necesita iniciar sessión para poder comentar este artículo.
        </div>
        <section sec:authorize="isAuthenticated()">
            <form
                th:action="@{'/posts/' + ${post.id} + '/comments'}"
                method="POST"
                class="my-4"
            >
                <textarea
                    name="content"
                    placeholder="Deja un comentario"
                    class="form-control mb-3"
                    rows="3"
                    required
                ></textarea>
                <input
                    type="submit"
                    value="Publicar comentario"
                    class="btn btn-primary d-block mx-auto"
                />
            </form>

            <h3
                th:with="suffix=${post.comments.size()} != 1 ? 's' : ''"
                th:text="${post.comments.size()} + ' Comentario' +  ${suffix}"
                class="mb-3"
            ></h3>

            <ul class="list-group mb-3">
                <li
                    th:each="comment : ${post.comments}"
                    class="list-group-item"
                >
                    <span
                        th:text="${comment.user.name}"
                        class="text-secondary d-block"
                    ></span>
                    <span th:text="${comment.content}"></span>
                </li>
            </ul>
        </section>
    </article>
</html>
