.register-form,
.login-form {
    width: 20rem;
    padding: 1rem;
    margin-top: 5rem;
}

.max-width-layout {
    max-width: 50rem;
}

.avatar {
    width: 10rem;
    height: 10rem;
}

#editor {
    min-height: 20rem;
    font-size: 1rem;
}

#editor p,
#editor ul,
#editor ol,
#editor h1,
#editor h2,
#editor h3,
#editor h4,
#editor h5,
#editor h6 {
    margin-bottom: 1rem;
}
